<!-- change_photo.html -->
{% extends 'base/base.html' %}
{% load static %}

{% block title %}
  Change Photo
{% endblock %}

{% block content %}

  <div class="container ">
    <h2 class="mt-4 mb-4"> Change Photo </h2>
    <form method="post" enctype="multipart/form-data" id="changePhotoForm">
      {% csrf_token %}

      <div class="row mt-5">
        <div class="col-12">
          <div class="d-flex">
            <img id="profilePhotoPreview" class="bot_image rounded-circle" src="{% if request.user.profile_photo %}{{ request.user.profile_photo.url }}{% else %}{% static 'assets/images/bot_image_1.png' %}{% endif %}" alt="Profile Photo" style="width: 50px; height: 50px; object-fit: contain;">

            <label class="m-3">Select a New Photo: </label>
            <a class="btn btn-warning m-auto" href="/remove/profile/{{ request.user.id }}/photo">Restore Default</a>
          </div>          
        </div>
        <div class="col-12">
            <input type="file" class="form-control" id="photoInput" name="user_photo" accept="image/*" onchange="previewImage('photoInput', 'profilePhotoPreview')">          
        </div>


        <div class="col-12 mt-5">
          <div class="d-flex">
            <img id="botIconPreview" class="bot_image rounded-circle" src="{% if request.user.bot_icon %}{{ request.user.bot_icon.url }}{% else %}{% static 'assets/images/bot_image.png' %}{% endif %}" alt="Bot Icon" style="width: 50px; height: 50px; object-fit: contain;">

            <label class="m-3">Select a New Photo: </label>
            <a class="btn btn-warning m-auto" href="/remove/profile/{{ request.user.id }}/icon">Restore Default</a>
          </div>          
        </div>
        <div class="col-12">
            <input type="file" class="form-control" id="botIconInput" name="bot_icon" accept="image/*" onchange="previewImage('botIconInput', 'botIconPreview')">
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-dark mt-3">Save Changes</button>
    </form>

  </div>
  <script>
    function previewImage(inputId, previewId) {
      const input = document.getElementById(inputId);
      const preview = document.getElementById(previewId);

      const file = input.files[0];

      if (file) {
        const reader = new FileReader();

        reader.onload = function (e) {
          preview.src = e.target.result;
        };

        reader.readAsDataURL(file);
      } 
    }
  </script>
{% endblock %}
